.tasksList {
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content: space-between;
    width: 46rem;
    height: 5rem;
    border-radius: 8px;
    background: var(--gray-500);
    border: 1.5px solid var(--gray-400);
}


.completedTaskList{ 
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content: space-between;
    width: 46rem;
    height: 5rem;
    border-radius: 8px;
    background: var(--gray-500);
    border: 1px solid var(--gray-500);
}

.taskListTextContent {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: var(--gray-100); 
    width: 39rem;
}

.deleteTask {
    cursor: pointer;
    background: var(--background);
    border: 0
}

.completedTaskInput {
    cursor: pointer;
}

input[type="checkbox"] {
    display: flex;
    align-items: center;
    justify-content: center;
    apperance: none;
    -webkit-appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 999px;
    border: 2px solid var(--blue);
    cursor: pointer;
}

input[type="checkbox"]:after {
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    font-size: 10px;
    color: var(--gray-100);
    font-weight: 900;
    display: none;
}

input[type="checkbox"]:hover {
    background-color: var(--gray-500)
}

input[type="checkbox"]:checked {
    background-color: var(--purple-dark);
    border: 0
}

input[type="checkbox"]:checked:after {
    display: block;
}